# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compilados / build
dist/
build/
.cache/
.astro/

# Configuración de sistema
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Otros
package-lock.json
yarn.lock
